/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.parent {
  display: flex;
}

.child {
  color: red;
  text-align: center;
  line-height: 10px;
  width: 260px;
  height: 30px;
}

.child2 {
  color: red;
  text-align: center;
  line-height: 10px;
  width: 260px;
  height: 30px;
}

.aaa {
  display: flex;

}

.ZZZ {
  width: 260px;
  text-align: center;
  line-height: 10px;
  height: 30px;

}

.zzz {
  width: 260px;
  text-align: center;
  line-height: 10px;
  height: 30px;

}

table {
  
}

